<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            @*<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>*@
            <div class="col">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Resume App Cv Form</h1>
                    </div>
                    <form class="user">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user border-danger"
                                       placeholder="First Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user border-danger"
                                       placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group row">
                        <div class="col-sm-6">
                                <input type="email" class="form-control form-control-user border-danger"
                                       placeholder="Email Address">
                        </div>
                            <div class="col-sm-6">
                                <input type="tel" class="form-control form-control-user border-danger"
                                       placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user border-danger"
                                       placeholder="Address">
                            </div>
                            <div class="col-sm-6">
                                <input type="date" class="form-control form-control-user border-danger"
                                       placeholder="Date Of Birth">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user"
                                       placeholder="Web Site">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user"
                                       placeholder="Github">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user"
                                       placeholder="Linkedin">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user"
                                       placeholder="Twitter">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user"
                                       placeholder="Youtube">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user"
                                       placeholder="Facebook">
                            </div>
                        </div>


                        <a href="login.html" class="btn btn-primary btn-user btn-block">
                            Create 
                        </a>
                        <hr>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>